.primary-bg {
  background-color: #dcb91f;
}

.secondary-bg {
  background-color: #626262;
}

.secondary-text {
  color: #d19a23;
}

.black-bg {
  background-color: black;
}

.white-bg {
  background-color: white;
}

.primary-text {
  color: #dcb91f;
}

.white-text {
  color: white;
}
<<<<<<< HEAD
.background{
    background-color: #ffd700;
  }
  
  .white-bg {
    background-color: white;
  }
  
  .primary-text {
    color: #f15b29;
  }
  
  .white-text {
    color: white;
  }
  
=======

.primary-bg {
  background-color: #ffd700;
}

.white-bg {
  background-color: white;
}

.primary-text {
  color: #dcb91f;
}

.white-text {
  color: white;
}
>>>>>>> ef701e637681dec50a610c85da28f490355fc733
