* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffd700;
}

header {
  padding: 1% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

header h1,
p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.image-container {
  background-image: url("/assets/imgs/foodbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 800px;
}

/* Change the image text using the below */
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Adjust text color as needed */
  font-family: "Times New Roman", Times, serif;
  z-index: 1;
}
.img-text p {
  line-height: 25px;
  font-family: "Times New Roman", Times, serif;
}

.img-text h1 {
  font-size: 400%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.restaurant-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 11%;
  width: 100%;
}

.restaurant-cards {
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  width: 26%;
}

.restaurant-cards img {
  width: 60%;
  height: 60%;
}
